<div class="div-main">
  <div class="div-main-header">
    <button aria-label="add task" class="btn-add-task">+</button>
    <button aria-label="sort panel" class="btn-sort-panel">
      <fa-icon [icon]="faSort"></fa-icon>
    </button>
    <button aria-label="workbench panel" class="btn-workbench-panel">W</button>
    <button aria-label="views panel" class="btn-views-panel">V</button>
    <button aria-label="open search panel" class="btn-open-search-panel">Search</button>
    <button aria-label="make search" class="btn-make-search">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button>
  </div>

  <div class="div-main-content">
    <div class="div-task-card">
      <input type="checkbox" class="checkbox" />
      <button aria-label="open task" class="btn-task-card">Lorem ipsum dolor sit amet</button>
    </div>
    <div class="div-task-card">
      <input type="checkbox" class="checkbox" />
      <button aria-label="open task" class="btn-task-card">Lorem iptur efficitur.</button>
    </div>
  </div>
</div>
